* {
  padding: 0;
  margin: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
}


/* FONTS */
@font-face {
  font-family: 'Space Grotesk';
  src: url('../fonts/SpaceGrotesk-Medium.woff2') format('woff2'),
      url('../fonts/SpaceGrotesk-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('../fonts/SpaceGrotesk-Bold.woff2') format('woff2'),
      url('../fonts/SpaceGrotesk-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('../fonts/SpaceGrotesk-Regular.woff2') format('woff2'),
      url('../fonts/SpaceGrotesk-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



/* CUSTOM PROPS */
:root {
  --dark:#151515;
  --green:#4ee1a0;
  --gray:#242424;
  --light-gray:#d9d9d9;
}

/* GLOBAL */

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing:inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--dark);
  color: #fff;
  font-family: "Space Grotesk", "Arial", sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

img {
  max-width: 100%;
  height: auto;
}

/* CONTAINER */

.container {
  width: 100%;
  max-width: 72.5rem;
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;
  margin-left: auto;
  margin-right: auto;
}


/* VISUALLY-HIDDEN */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* BUTTONS */

.btn {
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  background: var(--dark);
  width: 7.32rem;
  text-align: center;
  padding-bottom: 0.75rem;
  border-bottom: 2px solid var(--green);
  transition: all 0.4s ease;
}

.btn:hover {
  color: var(--green);
}

.btn:active {
  opacity: 0.8;
}

/* LOGO */

.logo {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2rem;
  letter-spacing: -0.44px;
  color: #fff;
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.6;
}



/* NAV */

.nav__list {
  display: flex;
  align-items: center;
}
.nav__item:not(:last-child) {
  margin-right: 2rem;
}

.nav__link {
  display: block;
  color: #fff;
  transition: color 0.4s ease,
              opacity 0.3s ease;
}

.nav__link:hover {
  color: var(--green);
}

.nav__link:active {
  opacity: 0.8;
}

.nav__icon {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
}


/* AUTOFILL-STYLES */
/*
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--heading-color);
  -webkit-box-shadow: 0 0 0px 40rem #ffff inset;
} */

/* PLACEHOLDER STYLE */
/*
::placeholder {
  color: rgba(52, 49, 61, 0.5);
} */

.header {
  padding-top: 2.5rem;
  padding-bottom: 13.7rem;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8rem;
}


/* MAIN-CONTENT */

.main-content {
  flex-grow: 1;
}



/* FOOTER */

.footer {
  padding-top: 3rem;
  padding-bottom: 5.75rem;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/* RETINA BACKGROUND IMAGES */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}